 {% extends 'base.html'%} {% block content %}
<div>
    <br>
<!-- ======= About Us Section ======= -->
<div class="container p-2">
    <div class="card box-shadow">
        <div class="card-head">
            <div class="section-title">
                <h2>
                    <strong>ABOUT</strong>
                </h2>
                <hr>
                <p class="p p-5">
                    Cweetbeatz.com is a private site that provides you with free & Purchasable Musical Instrumentals with easy Clicks & a platform to hire Professional services
                    in either <strong>Music Production</strong> ,<strong>Software Development </strong> & <strong>Game Development</strong>.
                </p>
            </div>
        </div>
        <div class="card-body">
            <section id="about" class="about">
                <div class="container-form">
                    <div class="column">
                        <div class="col-12 pt-4 pt-lg-0 order-2 order-lg-1 content">
                            <p class="font-italic">
                                For Inquiries, General Information, please send a Email: <strong>Cweetbeatz@gmail.com</strong> and response with be provided Shortly.
                            </p>
                            <!-- <ul>
                                <li><i class="icofont-check-circled"></i> GAME DEVELOPMENT.</li>
                                <li><i class="icofont-check-circled"></i> MUSIC PRODUCTION.</li>
                                <li><i class="icofont-check-circled"></i> SOFWARE DEVELOPMENT.</li>

                            </ul>
                            <p>
                              Listed Above are Services Provided.Please Reachout through the Contact Page Section or by Sending a mail.
                            </p> -->
                        </div>
                    </div>
                    <hr>
                </div>
            </section>
        </div>
    </div>
</div>
<br>
<hr>
<br>
<!-- @*#############################################################################*@ -->
<!-- End About Us Section -->

</div>
{% endblock %}