{% extends 'base.html'%} {% block content %} {% load static %} {% endblock %}
<div class="container">
  <!-- nav -->
  <div class="col-4">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#">BOOKINGS HISTORY</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CHANGE PASSWORD</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">EDIT ACCOUNT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">DELETE ACCOUNT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">LOGOUT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>

  <div class="col-8 text-center">DASBOARD</div>
</div>
