{% extends 'base.html'%} {% block content %} {% load static %}
<br />
<div class="text-center container">
  <h2 class="text-info"><strong>FLIGHT DETAILS</strong></h2>
</div>
<hr />
<div class="row card text-center m-3">
  <div class="bd-example bd-example-images m-4">
    <div class="text-center">
      <img
        src="#"
        id="productsDetailsimage"
        class="artwork"
        width="300"
        alt=""
      />
    </div>
    <div class="text-center">
      <hr class="btn-dark w-50 text-center mx-auto" />
      <h6>FlightName</h6>
      <h6>FlightNunber</h6>
      <h6 class="text-info">
        <strong>name</strong>
      </h6>
      <h6>Country</h6>
      <h6>description</h6>
      <hr class="btn-dark w-50 text-center mx-auto" />
      <h6 class="text-info">
        <strong>$price</strong>
      </h6>
      <a class="btn button btn-dark btn-sm m-0">PURCHASE TICKET </a>
    </div>
  </div>
</div>
<hr />
{% endblock %}
