 {% extends 'base.html'%} {% block content %}
{% load static %}
<div id="carouselExampleControls" class="carousel slide col-sm-12 m-0 p-0 w-100 bg-danger" data-ride="carousel">
    <div class="carousel-inner m-0 p-0 w-100">
        <div class="carousel-item active carousel">
            <img class=" overflow-hidden img-thumbnail border-0 w-100  m-0 p-0" src="{% static '/images/ual_b787-8_livery_170719_wpc_a1-003.jpg'%}">
            <div class="carousel-caption d-md-block">
                <h2 class="display-3 m-0 mt-md-1 mt-sm-0"><strong>SWIFT FLIGHT BOOKINGS</strong></h2>
                <p><strong>Get access to instant Flight Departures, Arrivals, Time Shedules across different countries instantly...</strong></p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<br>
<!-- @*#######################################################################*@ -->

<hr class="m-0 p-0" />
<!-- @*#######################################################################*@ -->

<div class="container">
        <div class="col-sm-12 mx-auto text-center">
            <br>
            <h4 class="font-weight-bold  " id="textshadow2"><strong>TOP DESTINATIONS</strong></h4>
            <br>
        </div>
    <div class="mx-auto ">
        <div class="mx-auto justify-content-center countrydisplay">
         <div class="bd-example bd-example-images  m-1">
            <div class="text-center">
                <img src="{% static '/images/900_12322018HighRes.jpg' %}" class="artwork" height="100" width="100">
                <hr class="btn-dark">
                <h6>CHICAGO</h6>
            </div>
        </div>   
        <div class="bd-example bd-example-images  m-1">
            <div class="text-center">
                <img src="{% static '/images/canada-country.jpg' %}" class="artwork" height="100" width="100">
                <hr class="btn-dark">
                <h6>CANADA</h6>
            </div>
        </div>
        <div class="bd-example bd-example-images  m-1">
            <div class="text-center">
                <img src="{% static '/images/UK.jpg' %}" class="artwork" height="100" width="100">
                <hr class="btn-dark">
                <h6>UNITED KINGDOM</h6>
            </div>
        </div>
        <div class="bd-example bd-example-images  m-1">
            <div class="text-center">
                <img src="{% static '/images/china-in-pictures-beautiful-places-to-photograph-south-putuo-temple.jpg' %}" class="artwork" height="100" width="100">
                <hr class="btn-dark">
                <h6>CHINA</h6>
            </div>
        </div>
        <div class="bd-example bd-example-images  m-1">
            <div class="text-center">
                <img src="{% static '/images/AdobeStock_104060928.jpeg' %}" class="artwork" height="100" width="100">
                <hr class="btn-dark">
                <h6>AUSTRALIA</h6>
            </div>
        </div>
        <div class="bd-example bd-example-images  m-1">
            <div class="text-center">
                <img src="{% static '/images/New-Zealand-Reaches-100-Day-Milestone-Without-Coronavirus-Transmission.jpg' %}" class="artwork" height="100" width="100">
                <hr class="btn-dark">
                <h6>NEW ZEALAND</h6>
            </div>
        </div>
        <div class="bd-example bd-example-images  m-1">
            <div class="text-center">
                <img src="{% static '/images/Night_Look_of_Nanpu_Bridge_and_Spiral_Road_in_Country_China.jpg' %}" class="artwork" height="100" width="100">
                <hr class="btn-dark">
                <h6>JAPAN</h6>
            </div>
        </div>
        <div class="bd-example bd-example-images  m-1">
            <div class="text-center">
                <img src="{% static '/images/brazil.jpg' %}" class="artwork" height="100" width="100">
                <hr class="btn-dark">
                <h6>BRAZIL</h6>
            </div>
        </div>
        <div class="bd-example bd-example-images m-1">
            <div class="text-center">
                <img src="{% static '/images/newyork-scenic-night-2000-1075x840.jpg' %}" class="artwork" height="100" width="100">
                <hr class="btn-dark">
                <h6>NEW YORK</h6>
            </div>
        </div>
        <div class="bd-example bd-example-images  m-1">
            <div class="text-center">
                <img src="{% static '/images/ss-bosphorus-bridge-121566550__1920x1080.jpg' %}" class="artwork" height="100" width="100">
                <hr class="btn-dark">
                <h6>PARIS</h6>
            </div>
        </div>
        <!-- <div class="bd-example bd-example-images  m-1">
            <div class="text-center">
                <img src="{% static '/images/jetlinxpilotweb.jpg' %}" class="artwork" height="100" width="100">
                <hr class="btn-dark">
                <h6>SWEDEN</h6>
            </div>
        </div>
        <div class="bd-example bd-example-images  m-1">
            <div class="text-center">
                <img src="{% static '/images/jetlinxpilotweb.jpg' %}" class="artwork" height="100" width="100">
                <hr class="btn-dark">
                <h6>NIGERIA</h6>
            </div>
        </div> -->
        </div>
        </div>

      <!-- #################### -->
    </div>
</div>

<!-- @*#############################################################################*@ -->
<div>
    <hr class="my-4 " />
</div>

<!-- @*#############################################################################*@ -->
<div class="container">
    <div class="row text-center">
        <div class="col-12">
            <h4 class="font-weight-bold" id="textshadow2"><strong>CONNECT</strong></h4>
            <br />
        </div>
        <div class="col-12">
            <span class="imagespace">
                <a class=" col-6" href="https://facebook.com/Cweetbeatzz ">
                    <i class="icofont-facbook "></i>
                    <img src="~/images/facebook-logo-png-9007.png " height="35" width=" 35" />
                </a>
                <a class="google a col-6" href="https://gmail.com/Cweetbeatz ">
                    <i class="icofont-google "></i>
                    <img src="~/images/logo-gmail-9952.png " height="30" width=" 30" />
                </a>

                <a class="twitter a col-6" href="https://twitter.com/Cweetbeatz ">
                    <i class="icofont-twitter "></i>
                    <img src="~/images/twitter-png-5964.png " height="25" width=" 30" />
                </a>
                <a class="github a col-6" href="https://github.com/Cweetbeatzz ">
                    <i class="icofont-github "></i>
                    <img src="~/images/GitHub-Mark-64px.png " height="25" width=" 28" />
                </a>
            </span>
        </div>
    </div>
</div>

<br>

<!-- @*#######################################################################*@ -->

{%endblock%}